<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Sender Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/sender.css" src="{{ url_for('static', filename = 'sender.css') }}">
    <link rel="stylesheet" href="../static/input.css"  src="{{ url_for('static', filename = 'input.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/button.css"  src="{{ url_for('static', filename = 'button.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>

<div class="col-lg-12">
    <a href="/" id="logo">Question Answering</a>
    <ul id="menu">
        <li><a href="https://www.iwu.fraunhofer.de/"><span>About the Company</span></a></li>
    </ul>
    <br><br><br>
    <div class="wrapper">
        <div class="col-lg-6">
        <br><br><br><br><br><br>

        <!--<h1 class="col-xs-6">Your Question!</h1>-->

        <div class="nlqueryengineInput">
            <div class="col-lg-12">

            <form method="POST" action="/nlqueryengine">
                <p> NL Query Engine Question: <input type="text" name="nlqueryengine" id="nlqueryInput" class="Input-text" placeholder="Who is Angela Merkel?"></p>
                <label for="input" class="Input-label">Please ask a question</label>
                <button class = "button" type="submit" form="nameform" value="NL2SPARQL" onclick="UserAction">Ask it</button>
                	<script>
                    function UserAction()
                    {
                        var dataDbpedia = document.getElementById("nlqueryInput");
                        console.log(dataDbpedia);
                        var xhttp  = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if(this.readyState == 4 && this.status == 200)
                            {
                                alert(this.responseText);
                            }
                        };
                        xhttp.open("POST", "/nlqueryengine", true);
                        xhttp.setRequestHeader("Content-type", "application/json");
                        xhttp.send(dataDbpedia);
                    }
	                </script>

            </form>
            </div>
        </div>
        <br> <br>
        <!--<div class="parseDataInput">
            <div class="col-xs-12">
            <form method="POST" action="/parseData">
                <p> parseData Question: <input type="text" name="question" id="input" class="Input-text" placeholder="What is the age of Obama?"></p>
                <label for="input" class="Input-label">Please ask a question</label>
            </form>
            </div>
        </div>-->
    <br> <br>
     <div class="button">
        <div class="col-lg-12">

        <form method="GET"  action="/quepy">
            <a href="/quepy" class="action-button shadow animate blue" type="submit" name="quepy" >Quepy</a>
        </form>
        <!--<p><button type="button">Click me</button></p>-->
        </div>
    </div>

  </div>
</div>

</div>


</body>
</html>